AUTH0_AUDIENCES=""
AUTH0_CLIENT_ID=""
AUTH0_CLIENT_SECRET=""
AUTH0_ISSUER=""
AUTH0_MGMT_TENANT=""
AUTH_SECRET=""
AUTH_TRUST_HOST="false"
AUTH_URL="http://localhost:3000"
AWS_CLOUDFRONT_URL=""
NEXT_PUBLIC_ACCESS_TOKEN_ROUTE=""
NEXT_PUBLIC_DASHBOARD_URL="http://localhost:3002/"
NEXT_PUBLIC_HOME_URL="/"
NEXT_PUBLIC_ORIGIN="http://localhost:3000"
NEXT_PUBLIC_RPC_HOST="http://localhost:4444"
NEXT_PUBLIC_TURNSTILE_SITE_KEY=""
RPC_HOST="http://localhost:4444"
SIGNING_KEY=""
TURNSTILE_SECRET_KEY=""
TURNSTILE_SITE_KEY=""

# Production-only
OTEL_SDK_DISABLED="1"
SENTRY_AUTH_TOKEN=""
SENTRY_DSN=""