# Code owner file for Monoweb.
#
# We don't take this very seriously, but they are really useful for making
# GitHub auto-assign reviewers to PRs. It makes it easier for contributors to
# get pull requests reviewed.
#
# Another goal is also that people who have more experience with certain parts
# of the codebase get the responsibility to review patches that touch these
# parts.


# Until we have more defined responsibilities, I'll take ownership of code that
# is not covered by other, because I know every part of the codebase well.
*                     @junlarsen


# Pipelines and automation
.github               @junlarsen
*.Dockerfile          @junlarsen
docker-compose.yml    @junlarsen


# Main applications
apps/brevduen         @junlarsen
apps/dashboard        @henrikskog
apps/rpc              @junlarsen
apps/invoicification  @junlarsen
apps/rif              @junlarsen
apps/web              @jotjern
apps/splash-2025      @henrygraesberg @ellawaal @tharyng @madsab


# Libraries and packages
packages/auth         @junlarsen @jotjern
packages/config
packages/core         @junlarsen @jotjern @henrikskog @terbau
packages/db           @jotjern
packages/email
packages/environment  @junlarsen
packages/gateway-trpc @junlarsen @jotjern @henrikskog @terbau
packages/logger       @junlarsen
packages/proxy-nextjs @junlarsen
packages/tsconfig
packages/types
packages/ui           @brage-andreas @madsab
packages/utils        @brage-andreas


# Tools
tools/shell           @henrikskog


# Infrastructure located in the monorepo
infra/auth0           @henrikhorluck @jotjern
