# npm
node_modules
# next.js build files
.next
# environment variables
.env
.env.production
!.env.example
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
build-storybook.log
package-lock.json
# IDE specific
.idea

node_modules
.turbo
dist/
.next/
build/
coverage

storybook-static