# npm
node_modules
# next.js build files
.next
# environment variables
.env
.env.production
!.env.example
.pnp.*
build-storybook.log
package-lock.json
# IDE specific
.idea
# typescript
*.tsbuildinfo

node_modules
.turbo
dist/
.next/
build/
coverage
**/.vscode
.vscode

storybook-static
.react-email