# npm
node_modules
# next.js build files
.next
# environment variables
.env
.env.production
!.env.example
.pnp.*
build-storybook.log
package-lock.json
# IDE specific
.idea

node_modules
.turbo
dist/
.next/
build/
coverage

storybook-static
apps/dashboards/.vscode/settings.json