services:
  db:
    container_name: ow_db
    image: postgres:16-alpine@sha256:029660641a0cfc575b14f336ba448fb8a75fd595d42e1fa316b9fb4378742297
    restart: always
    environment:
      POSTGRES_PASSWORD: owpassword123
      POSTGRES_USER: ow
      POSTGRES_DB: ow
    ports:
      - "4010:5432"
  jaeger:
    container_name: ow_jaeger
    image: jaegertracing/all-in-one:latest@sha256:e493bff54e457ba5827f82418d744a322165cd5d46146607fb76489bfb2a8885
    ports:
      - '4317:4317'
      - '4318:4318'
      - '16686:16686'
