version: "3.2"

services:
  db:
    container_name: ow_db
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: owpassword123
      POSTGRES_USER: ow
      POSTGRES_DB: ow
    ports:
      - "5432:5432"
