services:
  db:
    container_name: ow_db
    image: postgres:16-alpine@sha256:23e88eb049fd5d54894d70100df61d38a49ed97909263f79d4ff4c30a5d5fca2
    restart: always
    environment:
      POSTGRES_PASSWORD: owpassword123
      POSTGRES_USER: ow
      POSTGRES_DB: ow
    ports:
      - "4010:5432"
  jaeger:
    container_name: ow_jaeger
    image: jaegertracing/all-in-one:latest@sha256:ab6f1a1f0fb49ea08bcd19f6b84f6081d0d44b364b6de148e1798eb5816bacac
    ports:
      - '4317:4317'
      - '4318:4318'
      - '16686:16686'
