services:
  db:
    container_name: ow_db
    image: postgres:16-alpine@sha256:b7587f3cb74f4f4b2a4f9d67f052edbf95eb93f4fec7c5ada3792546caaf7383
    restart: always
    environment:
      POSTGRES_PASSWORD: owpassword123
      POSTGRES_USER: ow
      POSTGRES_DB: ow
    ports:
      - "4010:5432"
  grades-db:
    container_name: grades_db
    image: postgres:16-alpine@sha256:b7587f3cb74f4f4b2a4f9d67f052edbf95eb93f4fec7c5ada3792546caaf7383
    restart: always
    environment:
      POSTGRES_PASSWORD: gradespassword123
      POSTGRES_USER: grades
      POSTGRES_DB: grades
    ports:
      - "5010:5432"
  jaeger:
    container_name: ow_jaeger
    image: jaegertracing/all-in-one:latest@sha256:ab6f1a1f0fb49ea08bcd19f6b84f6081d0d44b364b6de148e1798eb5816bacac
    ports:
      - '4317:4317'
      - '4318:4318'
      - '16686:16686'
