@keyframes wave {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(-176px);
  }
}

.parallax :nth-child(1) {
  animation: wave 20s linear infinite;
}
.parallax :nth-child(2) {
  animation: wave 18s linear infinite;
}
.parallax :nth-child(3) {
  animation: wave 16s linear infinite;
}
.parallax :nth-child(4) {
  animation: wave 14s linear infinite;
}
