ALLOWED_ORIGINS="http://localhost:3000,http://localhost:3002,http://localhost:5173"
AUTH0_AUDIENCES=""
AUTH0_CLIENT_ID=""
AUTH0_CLIENT_SECRET=""
AUTH0_ISSUER=""
AUTH0_MGMT_TENANT=""
AUTH0_WEB_CLIENT_ID=""
AUTH0_WEB_CLIENT_SECRET=""
DATABASE_URL=""
MANAGEMENT_OAUTH_CLIENT_ID=""
MANAGEMENT_OAUTH_CLIENT_SECRET=""
MANAGEMENT_TENANT_DOMAIN_ID=""
TURNSTILE_SECRET_KEY=""
TURNSTILE_SITE_KEY=""
UNSAFE_DISABLE_AUTHORIZATION="true"
WEB_PUBLIC_ORIGIN="http://localhost:3000"

# Optional
AWS_REGION=""
AWS_S3_BUCKET=""
EMAIL_AWS_SES_REGION=""
EMAIL_AWS_SQS_QUEUE_URL=""
EMAIL_AWS_SQS_WORKER_INTERVAL="1000"
RIF_SERVICE_ACCOUNT="="
RIF_SPREADSHEET_ID=""
STRIPE_SECRET_KEY=""
WORKSPACE_DOMAIN=""
WORKSPACE_SERVICE_ACCOUNT=""
WORKSPACE_USER_ACCOUNT_EMAIL=""

# Production-only
AWS_RDS_CERTIFICATE_AUTHORITY=""
OTEL_EXPORTER_OTLP_ENDPOINT=""
OTEL_EXPORTER_OTLP_HEADERS=""
STRIPE_WEBHOOK_HOST=""