@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 14px;
    background-color: rgb(0, 2, 19)
  }

  html,
  body,
  #__next {
    @apply h-full w-full;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    @apply text-slate-12;
  }

  body {
    @apply font-poppins m-0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
