AUTH0_AUDIENCES=""
AUTH0_CLIENT_ID=""
AUTH0_CLIENT_SECRET=""
AUTH0_ISSUER=""
AUTH0_MGMT_TENANT=""
AUTH_SECRET=""
AUTH_TRUST_HOST="true"
AUTH_URL="http://localhost:3002"
AWS_CLOUDFRONT_URL=""
AWS_S3_UPLOAD_STATIC_ASSETS_ACCESS_KEY=""
AWS_S3_UPLOAD_STATIC_ASSETS_SECRET_KEY=""
NEXT_PUBLIC_ACCESS_TOKEN_ROUTE=""
NEXT_PUBLIC_ORIGIN="http://localhost:3002"
NEXT_PUBLIC_RPC_HOST="http://localhost:4444"
OAUTH_CLIENT_ID=""
OAUTH_CLIENT_SECRET=""
OAUTH_ISSUER=""
RPC_HOST="http://localhost:4444"
S3_UPLOAD_ENABLED="false"

# Production-only
SENTRY_AUTH_TOKEN=""
SENTRY_DSN=""