@import "tailwindcss";

@config "./tailwind-preset.js";

@layer base {
  :root {
    --color-brand: #0b5374;
    --color-accent: #fab759;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer components {
  /* Top-left corner */
  .table-rounded-md table tbody tr:first-child > th:first-child,
  .table-rounded-md table tbody tr:first-child > td:first-child {
    @apply rounded-tl-md;
  }

  /* Top-right corner */
  .table-rounded-md table tbody tr:first-child > th:last-child,
  .table-rounded-md table tbody tr:first-child > td:last-child {
    @apply rounded-tr-md;
  }

  /* Bottom-left corner */
  .table-rounded-md table tbody tr:last-child > th:first-child,
  .table-rounded-md table tbody tr:last-child > td:first-child {
    @apply rounded-bl-md;
  }

  /* Bottom-right corner */
  .table-rounded-md table tbody tr:last-child > th:last-child,
  .table-rounded-md table tbody tr:last-child > td:last-child {
    @apply rounded-br-md;
  }
}

@utility animate-shine {
  animation: shine 1s linear;
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@utility stripes-mask {
  /* Stripe width */
  --width: 12px;
  /* One cycle = one of stripe A and B */
  --stripe-cycle: calc(var(--width) * 2);
  /* This is to make the stripes move the correct horizontal distance, since they are diagonal */
  --move-stripes-x-period: calc(var(--stripe-cycle) * sqrt(2));

  /* Tells the browser it will animate */
  will-change: mask-position, -webkit-mask-position;

  mask-image: repeating-linear-gradient(
    45deg,
    #000 0 var(--width),
    transparent var(--width) var(--stripe-cycle)
  );
  -webkit-mask-image: repeating-linear-gradient(
    45deg,
    #000 0 var(--width),
    transparent var(--width) var(--stripe-cycle)
  );
}

@utility animate-stripes {
  animation: move-stripes-x var(--speed, 1.2s) linear infinite;
}

@keyframes move-stripes-x {
  to {
    mask-position: var(--move-stripes-x-period) 0;
    -webkit-mask-position: var(--move-stripes-x-period) 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .animate-stripes {
    animation: none !important;
  }
  .stripes-mask {
    will-change: auto;
  }
}

@font-face {
  font-family: Glass;
  src: url("fonts/Glass_TTY_VT220.ttf");
}

@theme {
  --breakpoint-xs: 30rem;
  --font-glass: Glass, "sans-serif";
  --animate-flicker: flicker 0.25s infinite;
  --animate-scan: scan 0.2s linear infinite;

  @keyframes scan {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 10px;
    }
  }

  @keyframes flicker {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.85;
    }
  }
}
