@import "tailwindcss";

@config "./tailwind-preset.js";

@layer base {
  :root,
  .light,
  .light-theme {
    --brand-50: #f8feff;
    --brand-100: #f0faff;
    --brand-200: #dcf7ff;
    --brand-300: #c9f0ff;
    --brand-400: #b3e7ff;
    --brand-500: #9adbff;
    --brand-600: #77cbf9;
    --brand-700: #48b4ea;
    --brand-800: #0d5474;
    --brand-900: #004463;
    --brand-950: #0074a7;
    --black: #00415f;

    --brand-contrast: #fff;
    --brand-surface: #ecf9ffcc;
    --brand-indicator: #0d5474;
    --brand-track: #0d5474;

    button:not(:disabled),
    [role="button"]:not(:disabled) {
      cursor: pointer;
    }
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root,
      .light,
      .light-theme {
        --brand-50: oklch(99.3% 0.0078 234.5);
        --brand-100: oklch(98% 0.0145 234.5);
        --brand-200: oklch(96.1% 0.0347 234.5);
        --brand-300: oklch(93.6% 0.0519 234.5);
        --brand-400: oklch(90.3% 0.0678 234.5);
        --brand-500: oklch(86.1% 0.0841 234.5);
        --brand-600: oklch(80.6% 0.1045 234.5);
        --brand-700: oklch(72.9% 0.1251 234.5);
        --brand-800: oklch(42.1% 0.0834 234.5);
        --brand-900: oklch(36.4% 0.0834 234.5);
        --brand-950: oklch(52.6% 0.1251 234.5);
        --black: oklch(35.1% 0.0834 234.5);

        --brand-contrast: #fff;
        --brand-surface: color(display-p3 0.9373 0.9765 1 / 0.8);
        --brand-indicator: oklch(42.1% 0.0834 234.5);
        --brand-track: oklch(42.1% 0.0834 234.5);
      }
    }
  }

  .dark,
  .dark-theme {
    --brand-50: #081319;
    --brand-100: #0d1b23;
    --brand-200: #072a3b;
    --brand-300: #003750;
    --brand-400: #034561;
    --brand-500: #0d5474;
    --brand-600: #17678c;
    --brand-700: #197daa;
    --brand-800: #0d5474;
    --brand-900: #014460;
    --brand-950: #71c6f5;
    --black: #c3edff;

    --brand-contrast: #fff;
    --brand-surface: #0a253580;
    --brand-indicator: #0d5474;
    --brand-track: #0d5474;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      .dark,
      .dark-theme {
        --brand-50: oklch(17.8% 0.0211 234.5);
        --brand-100: oklch(21.3% 0.0248 234.5);
        --brand-200: oklch(27% 0.05 234.5);
        --brand-300: oklch(31.9% 0.0673 234.5);
        --brand-400: oklch(36.8% 0.0762 234.5);
        --brand-500: oklch(42.2% 0.0834 234.5);
        --brand-600: oklch(48.4% 0.0935 234.5);
        --brand-700: oklch(55.7% 0.11 234.5);
        --brand-800: oklch(42.1% 0.0834 234.5);
        --brand-900: oklch(36.4% 0.0762 234.5);
        --brand-950: oklch(79% 0.1058 234.5);
        --black: oklch(92.5% 0.0554 234.5);

        --brand-contrast: #fff;
        --brand-surface: color(display-p3 0.0588 0.1412 0.1961 / 0.5);
        --brand-indicator: oklch(42.1% 0.0834 234.5);
        --brand-track: oklch(42.1% 0.0834 234.5);
      }
    }
  }

  :root,
  .light,
  .light-theme {
    --accent-50: #fefdfb;
    --accent-100: #fffbe7;
    --accent-200: #fff4ba;
    --accent-300: #ffec91;
    --accent-400: #fee388;
    --accent-500: #f2d67c;
    --accent-600: #e0c56a;
    --accent-700: #caaf54;
    --accent-800: #eace74;
    --accent-900: #dfc46a;
    --accent-950: #8f7407;
    --black: #453a17;

    --accent-contrast: #282109;
    --accent-surface: #fffae1cc;
    --accent-indicator: #eace74;
    --accent-track: #eace74;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root,
      .light,
      .light-theme {
        --accent-50: oklch(99.4% 0.0031 92.89);
        --accent-100: oklch(98.6% 0.0268 92.89);
        --accent-200: oklch(96.9% 0.0765 92.89);
        --accent-300: oklch(94.5% 0.1147 92.89);
        --accent-400: oklch(91.8% 0.1147 92.89);
        --accent-500: oklch(88.1% 0.1147 92.89);
        --accent-600: oklch(82.7% 0.1147 92.89);
        --accent-700: oklch(75.8% 0.1147 92.89);
        --accent-800: oklch(85.6% 0.1147 92.89);
        --accent-900: oklch(82.5% 0.1147 92.89);
        --accent-950: oklch(56.9% 0.1147 92.89);
        --black: oklch(35.2% 0.0541 92.89);

        --accent-contrast: #282109;
        --accent-surface: color(display-p3 1 0.9804 0.8941 / 0.8);
        --accent-indicator: oklch(85.6% 0.1147 92.89);
        --accent-track: oklch(85.6% 0.1147 92.89);
      }
    }
  }

  .dark,
  .dark-theme {
    --accent-50: #12110d;
    --accent-100: #1a1812;
    --accent-200: #282312;
    --accent-300: #352c0e;
    --accent-400: #403613;
    --accent-500: #4e4322;
    --accent-600: #605532;
    --accent-700: #7a6d41;
    --accent-800: #eace74;
    --accent-900: #e0c46a;
    --accent-950: #f2d67b;
    --black: #f5eac6;

    --accent-contrast: #282109;
    --accent-surface: #231f1380;
    --accent-indicator: #eace74;
    --accent-track: #eace74;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      .dark,
      .dark-theme {
        --accent-50: oklch(17.8% 0.0085 92.56);
        --accent-100: oklch(21% 0.0117 92.56);
        --accent-200: oklch(25.8% 0.0295 92.56);
        --accent-300: oklch(29.5% 0.0468 92.56);
        --accent-400: oklch(33.6% 0.0532 92.56);
        --accent-500: oklch(38.6% 0.0516 92.56);
        --accent-600: oklch(45.3% 0.0538 92.56);
        --accent-700: oklch(53.6% 0.0635 92.56);
        --accent-800: oklch(85.6% 0.1145 92.56);
        --accent-900: oklch(82.5% 0.1145 92.56);
        --accent-950: oklch(87.9% 0.1145 92.56);
        --black: oklch(93.7% 0.048 92.56);

        --accent-contrast: #282109;
        --accent-surface: color(display-p3 0.1333 0.1176 0.0784 / 0.5);
        --accent-indicator: oklch(85.6% 0.1145 92.56);
        --accent-track: oklch(85.6% 0.1145 92.56);
      }
    }
  }

  :root {
    --color-background: #ffffee;
  }

  :root,
  .dark,
  .dark-theme {
    --color-background: #000212;
  }
}

@utility animate-shine {
  animation: shine 1s linear;
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
