@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-amber-1: 39 70% 99%;
    --color-amber-2: 40 100% 96.5%;
    --color-amber-3: 44 100% 91.7%;
    --color-amber-4: 43 100% 86.8%;
    --color-amber-5: 42 100% 81.8%;
    --color-amber-6: 38 99.7% 76.3%;
    --color-amber-7: 36 86.1% 67.1%;
    --color-amber-8: 35 85.2% 55.1%;
    --color-amber-9: 39 100% 57%;
    --color-amber-10: 35 100% 55.5%;
    --color-amber-11: 30 100% 34%;
    --color-amber-12: 20 80% 17%;

    --color-blue-1: 206 100% 99.2%;
    --color-blue-2: 210 100% 98%;
    --color-blue-3: 209 100% 96.5%;
    --color-blue-4: 210 98.8% 94%;
    --color-blue-5: 209 95% 90.1%;
    --color-blue-6: 209 81.2% 84.5%;
    --color-blue-7: 208 77.5% 76.9%;
    --color-blue-8: 206 81.9% 65.3%;
    --color-blue-9: 206 100% 50%;
    --color-blue-10: 208 100% 47.3%;
    --color-blue-11: 211 100% 43.2%;
    --color-blue-12: 211 100% 15%;

    --color-green-1: 136 50% 98.9%;
    --color-green-2: 138 62.5% 96.9%;
    --color-green-3: 139 55.2% 94.5%;
    --color-green-4: 140 48.7% 91%;
    --color-green-5: 141 43.7% 86%;
    --color-green-6: 143 40.3% 79%;
    --color-green-7: 146 38.5% 69%;
    --color-green-8: 151 40.2% 54.1%;
    --color-green-9: 151 55% 41.5%;
    --color-green-10: 152 57.5% 37.6%;
    --color-green-11: 153 67% 28.5%;
    --color-green-12: 155 40% 14%;

    --color-red-1: 359 100% 99.4%;
    --color-red-2: 359 100% 98.6%;
    --color-red-3: 360 100% 96.8%;
    --color-red-4: 360 97.9% 94.8%;
    --color-red-5: 360 90.2% 91.9%;
    --color-red-6: 360 81.7% 87.8%;
    --color-red-7: 359 74.2% 81.7%;
    --color-red-8: 359 69.5% 74.3%;
    --color-red-9: 358 75% 59%;
    --color-red-10: 358 69.4% 55.2%;
    --color-red-11: 358 65% 48.7%;
    --color-red-12: 354 50% 14.6%;

    --color-slate-1: 206 30% 98.8%;
    --color-slate-2: 210 16.7% 97.6%;
    --color-slate-3: 209 13.3% 95.3%;
    --color-slate-4: 209 12.2% 93.2%;
    --color-slate-5: 208 11.7% 91.1%;
    --color-slate-6: 208 11.3% 88.9%;
    --color-slate-7: 207 11.1% 85.9%;
    --color-slate-8: 205 10.7% 78%;
    --color-slate-9: 206 6% 56.1%;
    --color-slate-10: 206 5.8% 52.3%;
    --color-slate-11: 206 6% 43.5%;
    --color-slate-12: 206 24% 9%;

    --color-background: #ffffee;
  }

  html,
  body {
    font-family: var(--font-poppins, "Poppins");
    font-size: 14px;
  }

  [data-theme="dark"] {
    --color-blue-1: 212 35% 9.2%;
    --color-blue-2: 216 50% 11.8%;
    --color-blue-3: 214 59.4% 15.3%;
    --color-blue-4: 214 65.8% 17.9%;
    --color-blue-5: 213 71.2% 20.2%;
    --color-blue-6: 212 77.4% 23.1%;
    --color-blue-7: 211 85.1% 27.4%;
    --color-blue-8: 211 89.7% 34.1%;
    --color-blue-9: 206 100% 50%;
    --color-blue-10: 209 100% 60.6%;
    --color-blue-11: 210 100% 66.1%;
    --color-blue-12: 206 98% 95.8%;

    --color-amber-1: 36 100% 6.1%;
    --color-amber-2: 35 100% 7.6%;
    --color-amber-3: 32 100% 10.2%;
    --color-amber-4: 32 100% 12.4%;
    --color-amber-5: 33 100% 14.6%;
    --color-amber-6: 35 100% 17.1%;
    --color-amber-7: 35 91% 21.6%;
    --color-amber-8: 36 100% 25.5%;
    --color-amber-9: 39 100% 57%;
    --color-amber-10: 43 100% 64%;
    --color-amber-11: 39 90% 49.8%;
    --color-amber-12: 39 97% 93.2%;

    --color-green-1: 146 30% 7.4%;
    --color-green-2: 155 44.2% 8.4%;
    --color-green-3: 155 46.7% 10.9%;
    --color-green-4: 154 48.4% 12.9%;
    --color-green-5: 154 49.7% 14.9%;
    --color-green-6: 154 50.9% 17.6%;
    --color-green-7: 153 51.8% 21.8%;
    --color-green-8: 151 51.7% 28.4%;
    --color-green-9: 151 55% 41.5%;
    --color-green-10: 151 49.3% 46.5%;
    --color-green-11: 151 50% 53.2%;
    --color-green-12: 137 72% 94%;

    --color-red-1: 353 23% 9.8%;
    --color-red-2: 357 34.4% 12%;
    --color-red-3: 356 43.4% 16.4%;
    --color-red-4: 356 47.6% 19.2%;
    --color-red-5: 356 51.1% 21.9%;
    --color-red-6: 356 55.2% 25.9%;
    --color-red-7: 357 60.2% 31.8%;
    --color-red-8: 358 65% 40.4%;
    --color-red-9: 358 75% 59%;
    --color-red-10: 358 85.3% 64%;
    --color-red-11: 358 100% 69.5%;
    --color-red-12: 351 89% 96%;

    --color-slate-1: 200 7% 8.8%;
    --color-slate-2: 195 7.1% 11%;
    --color-slate-3: 197 6.8% 13.6%;
    --color-slate-4: 198 6.6% 15.8%;
    --color-slate-5: 199 6.4% 17.9%;
    --color-slate-6: 201 6.2% 20.5%;
    --color-slate-7: 203 6% 24.3%;
    --color-slate-8: 207 5.6% 31.6%;
    --color-slate-9: 206 6% 43.9%;
    --color-slate-10: 206 5.2% 49.5%;
    --color-slate-11: 206 6% 63%;
    --color-slate-12: 210 6% 93%;

    --color-background: #000212;
  }
}
