# Workflow name
name: "Publish Storybook"

# Event for the workflow
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# List of jobs
jobs:
  chromatic-deployment:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [16]
    # Job steps
    steps:
      - uses: actions/checkout@v1
      - uses: actions/cache@v3
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install dependencies
        run: yarn
      - name: Build dependencies
        run: yarn build
      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: "./apps/storybook"
