# The main integration pipeline
#
# It is responsible for verifying linting, type checking, and building packages
# in the entire monorepo.

name: CI & CD
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

env:
  DEPLOYMENT_TARGET_HASH: ${{ github.sha }}
  DEPLOYMENT_TRIGGER_PUSH: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}

permissions:
  id-token: write   
  contents: read
jobs:
  # The "check" job is responsible for verifying the minimum requirements to
  # build all the packages in the monorepo.
  check:
    name: Verify build requirements
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
      - uses: pnpm/action-setup@v2
        with:
          version: 9.15.5
      - uses: actions/setup-node@v4
        with:
          node-version: 22.14.0
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
        name: Install dependencies from pnpm lockfile
      - run: pnpm lint-check
        name: Run linting and formatting checks
      - run: pnpm type-check
        name: Run TypeScript type checker

  build-brevduen:
    name: Deploy brevduen
    runs-on: ubuntu-24.04
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-brevduen
        with:
          deploy: ${{ env.DEPLOYMENT_TRIGGER_PUSH }}
          environment: staging
          git-hash: ${{ env.DEPLOYMENT_TARGET_HASH }}

  build-dashboard:
    name: Deploy dashboard
    runs-on: ubuntu-24.04
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-dashboard
        with:
          deploy: ${{ env.DEPLOYMENT_TRIGGER_PUSH }}
          environment: staging
          git-hash: ${{ env.DEPLOYMENT_TARGET_HASH }}

  build-invoicification:
    name: Deploy invoicification
    runs-on: ubuntu-24.04
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-invoicification
        with:
          deploy: ${{ env.DEPLOYMENT_TRIGGER_PUSH }}
          environment: staging
          git-hash: ${{ env.DEPLOYMENT_TARGET_HASH }}

  build-kvittering-backend:
    name: Deploy kvittering-backend
    runs-on: ubuntu-24.04
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-kvittering-backend
        with:
          deploy: ${{ env.DEPLOYMENT_TRIGGER_PUSH }}
          git-hash: ${{ env.DEPLOYMENT_TARGET_HASH }}

  build-kvittering-frontend:
    name: Deploy kvittering-frontend
    runs-on: ubuntu-24.04
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-kvittering-frontend
        with:
          deploy: ${{ env.DEPLOYMENT_TRIGGER_PUSH }}
          git-hash: ${{ env.DEPLOYMENT_TARGET_HASH }}

  build-rif:
    name: Deploy rif
    runs-on: ubuntu-24.04
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-rif
        with:
          deploy: ${{ env.DEPLOYMENT_TRIGGER_PUSH }}
          environment: staging
          git-hash: ${{ env.DEPLOYMENT_TARGET_HASH }}

  build-rpc:
    name: Deploy rpc
    runs-on: ubuntu-24.04
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-rpc
        with:
          deploy: ${{ env.DEPLOYMENT_TRIGGER_PUSH }}
          environment: staging
          git-hash: ${{ env.DEPLOYMENT_TARGET_HASH }}

  build-splash:
    name: Deploy splash-2025
    runs-on: ubuntu-24.04
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-splash-2025
        with:
          deploy: ${{ env.DEPLOYMENT_TRIGGER_PUSH }}
          git-hash: ${{ env.DEPLOYMENT_TARGET_HASH }}

  build-web:
    name: Deploy web
    runs-on: ubuntu-24.04
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-web
        with:
          deploy: ${{ env.DEPLOYMENT_TRIGGER_PUSH }}
          environment: staging
          git-hash: ${{ env.DEPLOYMENT_TARGET_HASH }}
