# The main integration pipeline
#
# It is responsible for verifying linting, type checking, and building packages
# in the entire monorepo.

name: CI & CD
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

permissions:
  id-token: write   
  contents: read
jobs:
  # The "check" job is responsible for verifying the minimum requirements to
  # build all the packages in the monorepo.
  check:
    name: Verify build requirements
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 1
      - uses: pnpm/action-setup@v2
        with:
          version: 10.27.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 22.21.1
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
        name: Install dependencies from pnpm lockfile
      - run: pnpm lint-check
        name: Run linting and formatting checks
      - run: pnpm type-check
        name: Run TypeScript type checker

  build-brevduen:
    name: brevduen
    runs-on: ubuntu-24.04-arm
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-brevduen
        with:
          deploy: false
          environment: stg
          git-hash: ${{ github.sha }}

  build-dashboard:
    name: dashboard
    runs-on: ubuntu-24.04-arm
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-dashboard
        with:
          deploy: false
          environment: stg
          git-hash: ${{ github.sha }}
  
  build-invoicification:
    name: invoicification
    runs-on: ubuntu-24.04-arm
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-invoicification
        with:
          deploy: false
          environment: stg
          git-hash: ${{ github.sha }}

  build-rif:
    name: rif
    runs-on: ubuntu-24.04-arm
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-rif
        with:
          deploy: false
          environment: stg
          git-hash: ${{ github.sha }}

  build-rpc:
    name: rpc
    runs-on: ubuntu-24.04-arm
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-rpc
        with:
          deploy: false
          environment: stg
          git-hash: ${{ github.sha }}

  build-web:
    name: web
    runs-on: ubuntu-24.04-arm
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-web
        with:
          deploy: false
          environment: stg
          git-hash: ${{ github.sha }}
