name: Production deployment
on:
  push:
    branches:
      - 03-13-fetch_doppler_secrets_for_kvittering-frontend_on_deploy
permissions:
  id-token: write   
  contents: read
jobs:
  deploy-kvittering-frontend:
    name: Deploy monoweb/kvittering-frontend
    runs-on: ubuntu-24.04
    steps:
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-north-1
          role-to-assume: arn:aws:iam::891459268445:role/MonowebProdKvitteringFrontendCIRole

      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          
      - uses: pnpm/action-setup@v2
        with:
          version: 9.15.7
      - uses: actions/setup-node@v4
        with:
          node-version: 22.14.0
          cache: 'pnpm'
          
      - name: Get OIDC Token
        uses: actions/github-script@v6
        id: get-oidc-token
        with:
          script: |
            const id_token = await core.getIDToken()
            core.setOutput('oidc_token', id_token)
      - uses: dopplerhq/cli-action@v2
      # Identity comes from the configured doppler account identity 
      # (see last step https://docs.doppler.com/docs/service-account-identities#configure-the-identity)
      - run: |
          doppler oidc login \
            --api-host https://api.doppler.com \
            --scope=. \
            --identity=8f25d2a1-28b9-4f2a-8fb3-115b10f456b2 \
            --token=${{ steps.get-oidc-token.outputs.oidc_token }}
      - name: Install dependencies
        working-directory: apps/kvittering-frontend
        run: pnpm install
      - name: Build frontend
        working-directory: apps/kvittering-frontend
        run: doppler run -p monoweb-kvittering-frontend -c prod -- pnpm build
        
      - name: Deploy to S3
        run: |
          aws s3 sync apps/kvittering-frontend/dist "s3://kvittering.online.ntnu.no" \
            --exclude "*" \
            --include "*.html" \
            --content-type "text/html" \
            --region "eu-north-1"
          
          aws s3 sync apps/kvittering-frontend/dist "s3://kvittering.online.ntnu.no" \
            --exclude "*" \
            --include "*.css" \
            --content-type "text/css" \
            --region "eu-north-1"
          
          aws s3 sync apps/kvittering-frontend/dist "s3://kvittering.online.ntnu.no" \
            --exclude "*" \
            --include "*.js" \
            --content-type "application/javascript" \
            --region "eu-north-1"
          
          aws s3 sync apps/kvittering-frontend/dist "s3://kvittering.online.ntnu.no" \
            --exclude "*" \
            --include "*.svg" \
            --content-type "image/svg+xml" \
            --region "eu-north-1"
          
          aws s3 sync apps/kvittering-frontend/dist "s3://kvittering.online.ntnu.no" \
            --exclude "*.html" \
            --exclude "*.css" \
            --exclude "*.js" \
            --exclude "*.svg" \
            --region "eu-north-1"
      - name: Invalidate CloudFront cache
        run: aws cloudfront create-invalidation --distribution-id E60JFQ13PM11R --paths '/*'
  deploy-kvittering-backend:
    name: Deploy monoweb/kvittering-backend
    runs-on: ubuntu-24.04
    steps:
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-north-1
          role-to-assume: arn:aws:iam::891459268445:role/MonowebProdKvitteringBackendCIRole
      - uses: aws-actions/amazon-ecr-login@v2
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          context: .
          file: apps/kvittering-backend/Dockerfile
          tags: 891459268445.dkr.ecr.eu-north-1.amazonaws.com/monoweb/prod/kvittering-backend:latest
          push: true
      - uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.TERRAFORM_WORKFLOW_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: 'dotkom',
              repo: 'terraform-monorepo',
              workflow_id: 'apply.yml',
              ref: 'main',
              inputs: {
                environment: 'prod',
                project: 'monoweb-kvittering-backend',
                targets: 'module.evergreen_service',
              },
            });