# Perform a full release of the applications in the monorepo
#
# This does not account for splash/kvittering as these are deployed directly to prod on push

name: Production Release
on:
  workflow_dispatch:
    inputs:
      git-hash:
        description: 'Git hash to release (leave empty to use latest on main)'
        required: false

concurrency:
  group: production
  cancel-in-progress: true

env:
  DEPLOYMENT_TARGET_HASH: ${{ github.event.inputs.git-hash || github.sha }}

permissions:
  id-token: write
  contents: read
jobs:
  # The "check" job is responsible for verifying the minimum requirements to
  # build all the packages in the monorepo.
  check:
    name: Verify build requirements
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 1
      - uses: pnpm/action-setup@v2
        with:
          version: 10.27.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 22.21.1
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
        name: Install dependencies from pnpm lockfile
      - run: pnpm lint-check
        name: Run linting and formatting checks
      - run: pnpm type-check
        name: Run TypeScript type checker

  build-brevduen:
    name: brevduen
    runs-on: ubuntu-24.04-arm
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-brevduen
        with:
          deploy: true
          environment: prd
          git-hash: ${{ env.DEPLOYMENT_TARGET_HASH }}

  build-dashboard:
    name: dashboard
    runs-on: ubuntu-24.04-arm
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-dashboard
        with:
          deploy: true
          environment: prd
          git-hash: ${{ env.DEPLOYMENT_TARGET_HASH }}

  build-invoicification:
    name: invoicification
    runs-on: ubuntu-24.04-arm
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-invoicification
        with:
          deploy: true
          environment: prd
          git-hash: ${{ env.DEPLOYMENT_TARGET_HASH }}
  
  build-rif:
    name: rif
    runs-on: ubuntu-24.04-arm
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-rif
        with:
          deploy: true
          environment: prd
          git-hash: ${{ env.DEPLOYMENT_TARGET_HASH }}

  build-rpc:
    name: rpc
    runs-on: ubuntu-24.04-arm
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-rpc
        with:
          deploy: true
          environment: prd
          git-hash: ${{ env.DEPLOYMENT_TARGET_HASH }}

  build-web:
    name: web
    runs-on: ubuntu-24.04-arm
    needs:
      - check
    steps:
      - name: Install local GitHub Actions
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 1
          sparse-checkout: '.github'
          sparse-checkout-cone-mode: true
      - uses: ./.github/actions/build-web
        with:
          deploy: true
          environment: prd
          git-hash: ${{ env.DEPLOYMENT_TARGET_HASH }}

  notify:
    name: Notify users about release
    runs-on: ubuntu-24.04
    needs:
      - build-brevduen
      - build-dashboard
      - build-invoicification
      - build-rif
      - build-rpc
      - build-web
    steps:
      - name: Submit message to \#prod-ops-feed in Slack
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            text: "*GitHub Action release started av:* ${{ github.triggering_actor }}"
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "*GitHub Action release started av:* ${{ github.triggering_actor }}.\n Deployment status: ${{ job.status }}"
